## 11 - Data Types

| Name        | Type | Description                                                                |
|-------------|------|-------------------------------------------------------------------------|
| Integers    | int  | Whole numbers, such as: 3 300 200                                   |
| Floating point | float | Numbers with a decimal point: 2.3 4.6 100.0                     |
| Strings     | str  | Ordered sequence of characters: "hello" "Sammy" "2000" "¡sí!"       |
| Lists       | list | Ordered sequence of objects: [10,"hello",200,3]                     |
| Dictionaries| dict | Unordered Key:Value pairs: {"mykey":"value","name":"Frankie"}      |
| Tuples      | tup  | Ordered immutable sequence of objects: (10,"hello",200,3)          |
| Sets        | set  | Unordered collection of unique objects: {"a","b"}                   |
| Booleans    | bool | Logical value indicating True or False                              |

## 12 - Python Numbers

In [1]:
2 + 1

3

In [2]:
2 - 1

1

In [3]:
2 * 2

4

In [4]:
3 / 2

1.5

In [5]:
# Modulo or mod operator
7 % 4

3

In [6]:
# Modulo or Mod operator
print(3 % 4, 'is the remainder of 3 / 4')

3 is the remainder of 3 / 4

Useful to check if a number is divisible by another, or if it's even or not.

In [7]:
23 % 2

1

In [8]:
20 % 2

0

In [9]:
# Powers
print(2 ** 3)

8

In [10]:
# 'Complex' operations
print('2 + 10 * 10 + 3 =', 2 + 10 * 10 + 3)

2 + 10 * 10 + 3 = 105

In [11]:
print('(2 + 10) * (10 + 3) =', (2 + 10) * (10 + 3))

(2 + 10) * (10 + 3) = 156

## XX - Exercise

In [12]:
# Expression that results in 100
((12 ** 2 - 12 * 4 + 5) % 2 + 299) / 3

100.0

## 13 - FAQ Numbers

In [13]:
print('0.1 + 0.2 - 0.3 =', 0.1 + 0.2 - 0.3)

0.1 + 0.2 - 0.3 = 5.551115123125783e-17

See: https://docs.python.org/2/tutorial/floatingpoint.html

## 14 - Variable Assignment

In `Python` variables can't have names starting with numbers, nor have blanks (use underscore instead), nor have any of these symbols: :'",<>\/?\\|()!@#$%^&*~-+. Best practices (PEP8), lowercase. Avoid built-in keywords.

`Python` uses dynamic typing, meaning that the type of data a variable contains can be easily changed, which is not the case in other programming languages.
- Beware of the wrong data type leaking into some part of the program where it shouldn't reach.

In [1]:
a = 5

In [2]:
a

5

In [3]:
a = 10
a

10

In [4]:
# Reassignment self-referencing the object
a = a + a
a

20

In [5]:
# Check data type
type(a)

int

In [6]:
a = 30.1
type(a)

float

In [ ]:
int = 4 # See that int is highlighted, because it's a keyword.

In [7]:
# Operations using variables
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate
my_taxes

10.0

## 15 - Introduction to Strings

Chains of characters inside single or double quotes. Because they are ordered, they allow for slicing, using indexing (or reverse indexing).
- string_variable[index] (for indexing)
- string_variable[start:stop:step]

In [9]:
'hello'+" world"

'hello world'

In [10]:
"I'm going on a run."

"I'm going on a run."

In [11]:
# Printing, so the quotes aren't included
print("Hello!")

Hello!

In [12]:
# Only the last string is shown
"Hello, world one!"
"Hello, world two!"

'Hello, world two!'

In [13]:
# Using print shows both
print("Hello, world one!")
print("Hello, world two!")

Hello, world one!
Hello, world two!

In [14]:
# Escape sequences
print("Hello, \n world!") # \n -> new line

Hello,
 world!

In [15]:
# Escape sequences
print("Hello, \nworld!") # \n -> new line

Hello,
world!

In [16]:
# Escape sequences
print("Hello, \t world!") # \t -> tab

Hello, 	 world!

In [17]:
# length function
len("Hello, world!")

13

## 16 - Indexing and Slicing with Strings

In [1]:
mystring = "Hello, world!"
mystring

'Hello, world!'

In [2]:
# Grab a character, indexing
mystring[0]

'H'

In [4]:
# Backward indexing
mystring[-2]

'd'

In [3]:
# Magic slicing
mystring[::-1]

'!dlrow ,olleH'

In [5]:
mystring = "abcdefghijk"
mystring

'abcdefghijk'

#### Slicing
**It returns a portion of the string.**

string_variable[start : stop : step]

The stop index is not including. So, if stop = index 3, last character will be the one in index 2.

In [6]:
mystring[2:]

'cdefghijk'

In [7]:
mystring[:2]

'ab'

In [8]:
mystring[2:5]

'cde'

In [9]:
mystring[::2]

'acegik'

## 17 - Indexing Properties and Methods

#### Immutability

In [10]:
name = "Sam"

In [11]:
name[0] = "P"

TypeError: 'str' object does not support item assignment

In [13]:
last_letters = name[1:]
last_letters

'am'

#### Concatenation

In [15]:
"P" + last_letters

'Pam'

In [16]:
x = "Hello, World!"
x

'Hello, World!'

In [18]:
x + " It is beautiful outside!"

'Hello, World! It is beautiful outside!'

#### Multiplication

In [19]:
letter = "z"
letter

'z'

In [20]:
letter * 10

'zzzzzzzzzz'

#### Careful!

In [21]:
 2 + 3

5

In [22]:
"2" + "3"

'23'

#### String Methods

In [23]:
x = "Hello, world!"

In [24]:
x.upper()

'HELLO, WORLD!'

In [25]:
x.lower()

'hello, world!'

These are not "in place". The methods don't modify the value of the string variable. For that, reassignment.

In [26]:
x.split(',')

['Hello', ' world!']

In [27]:
x = "Hi, this is a string!"
x

'Hi, this is a string!'

In [28]:
x.split("i")

['H', ', th', 's ', 's a str', 'ng!']

## 19 - Print Formatting with Strings

Inject a variables into a string. String formatting is known as string interpolation.

Here the presented ways to do this are:
- .format()
- f-strings (formatted string literals)

### .format()

In [1]:
print("This is a string {}".format("INSERTED"))

This is a string INSERTED

In [2]:
# Insert in order of appearance
print("The {} {} {}".format("fox", "brown", "quick"))

The fox brown quick

In [3]:
# Insert accoding to indexing
print("The {2} {1} {0}".format("fox", "brown", "quick"))

The quick brown fox

In [4]:
# Repeatable indexes
print("The {0} {0} {0}".format("fox", "brown", "quick"))

The fox fox fox

In [5]:
# Insert according to naming
print("The {q} {b} {f}".format(f = "fox", b = "brown", q = "quick"))

The quick brown fox

In [6]:
# Repeatable names
print("The {f} {f} {f}".format(f = "fox", b = "brown", q = "quick"))

The fox fox fox

### .format() for float formatting

In [8]:
result = 100 / 777
result

0.1287001287001287

In [9]:
# Simply inject the float
print("The result was {}".format(result))

The result was 0.1287001287001287

In [10]:
# Format the float
print("The result was {r:1.3f}".format(r = result))

The result was 0.129

**Float formatting follows:** "{value:width.precision f}"

In [11]:
# Larger width
print("The result was {r:10.3f}".format(r = result))

The result was      0.129

### f-strings

In [12]:
name = "José"
name

'José'

In [13]:
print(f"Hello, his name is {name}.")

Hello, his name is José.

In [14]:
name = "Sam"
age = 3

In [15]:
print(f"{name} is {age} years old.")

Sam is 3 years old.

This a good source for string formatting: [PyFormat](https://pyformat.info).

## 21 - Lists

Lists are ordered sequences that can hold a variety of object types.

They use [] brackets and commas to separate objects in the list.

Lists support indexing and slicing. Lists can be nested and also have a variety of useful methods that can be called off of them.

In [16]:
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [17]:
my_list = ['STRING', 2, 30.2]
my_list

['STRING', 2, 30.2]

In [18]:
len(my_list)

3

In [19]:
mylist = ["one", "two", "three"]
mylist

['one', 'two', 'three']

In [20]:
mylist[0]

'one'

In [21]:
mylist[1:]

['two', 'three']

In [22]:
another_list = ["four", "five"]
another_list

['four', 'five']

In [23]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [24]:
new_list = mylist + another_list
new_list

['one', 'two', 'three', 'four', 'five']

In [25]:
# Mutable
new_list[0] = "ONE ALL CAPS"
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [26]:
# Appending element to last position, in place
new_list.append("six")
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [27]:
new_list.append("seven")
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [28]:
# Removing itmes from a list
# From last position
new_list.pop()

'seven'

In [29]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [30]:
popped_item = new_list.pop()
popped_item

'six'

In [31]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [32]:
# From arbitrary position (default is -1)
new_list.pop(0)

'ONE ALL CAPS'

In [33]:
new_list

['two', 'three', 'four', 'five']

In [34]:
new_list = ["a", "e", "x", "b", "c"]
num_list = [4, 1, 8, 3]

In [35]:
new_list.sort() # It's in place
new_list

['a', 'b', 'c', 'e', 'x']

In [36]:
sorted_list = new_list.sort()
sorted_list

In [37]:
type(sorted_list)

NoneType

In [38]:
num_list

[4, 1, 8, 3]

In [39]:
num_list.sort()
num_list

[1, 3, 4, 8]

In [40]:
num_list.reverse() # It's in place
num_list

[8, 4, 3, 1]

In [41]:
nested_list = [1, 1, [1, 2]]
nested_list

[1, 1, [1, 2]]

In [43]:
nested_list[2][1] # Double indexes to get a value from the list inside the list

2

## 23 - Dictionaries in Python

- Unordered, unsortable mappings.
- Key-value pairs.
- {'key1': 'value1', 'key2': 'value2', ...}
- Lists vs dictionaries:
    - Use lists when it's an ordered sequence, needs access by position (index), needs slicing.
    - Use dictionaries when order is not important, needs retrieval by key.

In [1]:
# Generic dictionary
my_dict = {
    'key1': 'value1',
    'key2': 'value2'
}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [2]:
my_dict['key1']

'value1'

In [3]:
# Example
price_lookup = {
    'apples': 2.99,
    'oranges': 1.99,
    'milk': 5.80
}

In [5]:
# Call value using key ('apple')
price_lookup['apples']

2.99

In [12]:
# Dictionary storing multiple data types
dictio = {
    'k1': 123,
    'k2': [0, 1, 2],
    'k3': {'ik1': 1, 'ik2': 2, 'ik3': 3},
    'k4': ['a', 'b', 'c', 'd']
}

In [13]:
# Calling from the dictionary
print(dictio['k2'][2])
print(dictio['k2'])
print(dictio['k3'])
print(dictio['k3']['ik2'])

2
[0, 1, 2]
{'ik1': 1, 'ik2': 2, 'ik3': 3}
2

In [14]:
# Combination of actions in one line
dictio['k4'][2].upper()

'C'

In [15]:
# Adding new key-value pair
dictio['k5'] = ('Altair', 'Plotly')
dictio

{'k1': 123,
 'k2': [0, 1, 2],
 'k3': {'ik1': 1, 'ik2': 2, 'ik3': 3},
 'k4': ['a', 'b', 'c', 'd'],
 'k5': ('Altair', 'Plotly')}

In [19]:
# Overriding value in dictionary
dictio['k1'] = 987
dictio

{'k1': 987,
 'k2': [0, 1, 2],
 'k3': {'ik1': 1, 'ik2': 2, 'ik3': 3},
 'k4': ['a', 'b', 'c', 'd'],
 'k5': ('Altair', 'Plotly')}

In [21]:
# Adding another pair
dictio['k9'] = 'canine'
dictio

{'k1': 987,
 'k2': [0, 1, 2],
 'k3': {'ik1': 1, 'ik2': 2, 'ik3': 3},
 'k4': ['a', 'b', 'c', 'd'],
 'k5': ('Altair', 'Plotly'),
 'k9': 'canine'}

In [22]:
# Removing a pair
del dictio['k9']
dictio

{'k1': 987,
 'k2': [0, 1, 2],
 'k3': {'ik1': 1, 'ik2': 2, 'ik3': 3},
 'k4': ['a', 'b', 'c', 'd'],
 'k5': ('Altair', 'Plotly')}

In [23]:
# Some methods
print(dictio.keys()) # Retrieve keys
print(dictio.values()) # Retrieve values
print(dictio.items()) # Retreive pairs

dict_keys(['k1', 'k2', 'k3', 'k4', 'k5'])
dict_values([987, [0, 1, 2], {'ik1': 1, 'ik2': 2, 'ik3': 3}, ['a', 'b', 'c', 'd'], ('Altair', 'Plotly')])
dict_items([('k1', 987), ('k2', [0, 1, 2]), ('k3', {'ik1': 1, 'ik2': 2, 'ik3': 3}), ('k4', ['a', 'b', 'c', 'd']), ('k5', ('Altair', 'Plotly'))])

## 25 - Tuples

Very similar to `lists`, but have **immutability** --> once an element is assigned, it cannot be reassigned.

example_tuple = (1, 2, 3)

In [24]:
#Creating tuple and list
my_tup = (1, 2, 3)
my_list = [1, 2, 3]
print(my_tup)
print(my_list)

(1, 2, 3)
[1, 2, 3]

In [25]:
# Object types
print(type(my_tup))
print(type(my_list))

<class 'tuple'>
<class 'list'>

In [26]:
# Retrieving
my_tup[1]

2

In [27]:
# Retrieving
my_tup[-1]

3

In [28]:
# Some methods
the_tuple = ('a', 'a', 'b')
the_tuple

('a', 'a', 'b')

In [31]:
# Count how many times an element is present in tuple
the_tuple.count('a')

2

In [32]:
# Return the first index where an element is found
the_tuple.index('a')

0

Immutability

In [34]:
# Check objects
print(the_tuple)
print(my_list)

('a', 'a', 'b')
[1, 2, 3]

In [35]:
# Reassignment in list
my_list[0] = 'NEW'
my_list

['NEW', 2, 3]

In [36]:
# Reassignment in tuple
the_tuple[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

Tuples are more used for more advanced programming, for example in data integrity.

## 26 - Sets in Python

Unordered collections of unique elements (only one representative of each object).

In [2]:
# Create an empty set
my_set = set()
my_set

set()

In [3]:
# Add an element to the set
my_set.add(1)
my_set

{1}

In [4]:
# Again
my_set.add(2)
my_set

{1, 2}

In [5]:
# Repeat add an element
my_set.add(2)
my_set

{1, 2}

**Notice:** element `2` is present only once.

In [6]:
# More useful to cast objects
my_list = [1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3]
my_list

[1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3]

In [7]:
# Cast the list into a set
set(my_list)

{1, 2, 3}

In [8]:
# From the exercise at Udemy
set('Mississippi')

{'M', 'i', 'p', 's'}

## 27 - Booleans in Python

- Booleans are operators to convey `True` or `False` statements.

- Useful in control flow and logic.

In [2]:
# Capitalize to get the "boolean values"
True != False

True

In [3]:
# Data type
type(True)

bool

In [5]:
# Another comparison
1 == 2

False

In [6]:
# Placeholder for an empty object
b = None
b

## 28 - I/O with Basic Files in Python

In [12]:
%%writefile myfile.txt
'I am just writing in the first line. \
But now I do so in the second one. \
This is finally the third one.'
# Post comment

Overwriting myfile.txt

It would appear line magic functions do not accept comments in the same cell before them. The afterward one becomes part of the txt file.

In [14]:
myfile = open('myfile.txt')
myfile

Print working directory in Jupyter Notebook:

In [16]:
pwd

'G:\\15_Estudio\\Udemy\\Python - Portilla Complete Bootcamp'

In [17]:
# Return a string of what's inside a file
myfile.read()

"'I am just writing in the first line. \\\nBut now I do so in the second one. \\\nThis is finally the third one.'\n# Post comment\n"

In [18]:
# Call that method again
myfile.read()

''

In [19]:
# Reposition the cursor to be able to read the file again
myfile.seek(0)

0

In [20]:
# Read once more
myfile.read()

"'I am just writing in the first line. \\\nBut now I do so in the second one. \\\nThis is finally the third one.'\n# Post comment\n"

In [25]:
# Read and save in a variable
contents = myfile.read()
myfile.seek(0)
contents

"'I am just writing in the first line. \\\nBut now I do so in the second one. \\\nThis is finally the third one.'\n# Post comment\n"

In [26]:
myfile

Sometimes it's useful to have each line in a separate element of a list.

In [27]:
# Read lines
print(myfile.readlines())
myfile.seek(0)

["'I am just writing in the first line. \\\n", 'But now I do so in the second one. \\\n', "This is finally the third one.'\n", '# Post comment\n']

0

In [29]:
# Opening a file for a certain file path
myfile = open('G:\\15_Estudio\\Udemy\\Python - Portilla Complete Bootcamp\\myfile.txt')
contents = myfile.read()
myfile.seek(0)
contents

"'I am just writing in the first line. \\\nBut now I do so in the second one. \\\nThis is finally the third one.'\n# Post comment\n"

In the file path, notice the double slashes: the first `\` is an escape character, avoiding the second `\` to become something like `\n` (new line), or `\t` (tabulation).

In [30]:
# Close the file
myfile.close()

Forgetting to close the file may cause errors afterward. To avoid that, the `with` statement can be used.

In [32]:
# Use of with statement
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [33]:
# Verify contents now has the string 
contents

"'I am just writing in the first line. \\\nBut now I do so in the second one. \\\nThis is finally the third one.'\n# Post comment\n"

In this way, there's no need to worry about closing the file.

**Reading, writing, and apending modes:**
- r, read
- w, write (overwrites if file exists)
- a, append
- r+, read and write
- w+, write and read (overwrites if file exists)

In [34]:
with open('myfile.txt', mode = 'r') as myfile:
    contents = myfile.read()

In [35]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [36]:
# Read and print file
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [37]:
# Add a line to the file
with open('my_new_file.txt', mode = 'a') as f:
    f.write('FOUR ON FORTH')

In [38]:
# AGAIN, read and print file
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FORTH

In [39]:
# Now, writing
with open('gararata.txt', mode = 'w') as f:
    f.write('I CREATED THIS FILE!')

In [40]:
# Check results from last cell
with open('gararata.txt', mode = 'r') as f:
    print(f.read())

I CREATED THIS FILE!

## 29 - Resources for More Basic Practice

Helpful links for practice:

- [Codingbat](http://codingbat.com/python): basic practice.
- [Project Euler](https://projecteuler.net/archives): more mathematical (and harder) practice:
- [Code Abbey](http://www.codeabbey.com/index/task_list): list of practice problems.
- [Daily Programmer Subreddt](https://www.reddit.com/r/dailyprogrammer): a SubReddit devoted to daily practice problems.
- [Python Challenge](http://www.pythonchallenge.com/): a very tricky website with very few hints and tough problems (not for beginners but still interesting).