# Section 05 - Python Statements

## 34 - `if`, `elif`, and `else` Statements in Python

**Control flow:** execute code only under specific conditions. To do this, use keywords:
- `if`
- `elif`
- `else`

**Very important:** use of colons and indentation.

**Syntax:**

```Python
if condition:
    # Execute this code
elif another_condition:
    # Execute this other code
else:
    # Execute this, when none of the above conditions is met
```

Conditions are, after evaluated, a boolean value.

In [1]:
# Example
if True:
    print("It's true!")

It's true!

In [3]:
# Another example
hungry = False

if hungry:
    print("Feed me!")
else:
    print("I'm not hungry.")

I'm not hungry.

In [11]:
# Yet another example (using tools that still haven't been covered in this course)
locations = ['Bank', 'Auto Shop', 'Cathedral', 'Store']

for i, loc in enumerate(locations):
    if loc == 'Auto Shop':
        print(f"Case {i + 1} is in location = {loc}.\n\t\tCars are cool!")
    elif loc == 'Bank':
        print(f"Case {i + 1} is in location = {loc}.\n\t\tMoney is cool!")
    elif loc == 'Store':
        print(f"Case {i + 1} is in location = {loc}.\n\t\tWelcome to the store!")
    else:
        print(f"Case {i + 1} is in location = {loc}.\n\t\tI don't know much.")

Case 1 is in location = Bank.
		Money is cool!
Case 2 is in location = Auto Shop.
		Cars are cool!
Case 3 is in location = Cathedral.
		I don't know much.
Case 4 is in location = Store.
		Welcome to the store!

In [13]:
# Example, again
name = 'Sammy'

if name == 'Frankie':
    print(f'Hello, {name}!')
elif name == 'Sammy':
    print(f'Hello, {name}!')
else:
    print("What's your name?")

Hello, Sammy!

## 35 - `for` Loops

Iterables are object over which it's possible to iterate, i.e., to perform an action over each element in the iterable.

**Syntax:**
```Python
my_iterable = # a list, for example

for `item` in `my_iterable`: # `item` will store each of the values in 'my_iterable', but one at a time in each iteration
    # Execute this block of code, which can make use of `item`'s value
```

In [14]:
# Example
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in my_list: # num could have been jelly or any other name
    print(num)

1
2
3
4
5
6
7
8
9
10

In [15]:
# Example, similar but not quite the same
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for jelly in my_list:
    print('Hello!')

Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!

In [17]:
# Print only the even numbers in the list
for num in my_list:
    if num % 2 == 0:
        print(f'Number {num} is an even number.')
    else:
        print(f'Number {num} is an odd number.')

Number 1 is an odd number.
Number 2 is an even number.
Number 3 is an odd number.
Number 4 is an even number.
Number 5 is an odd number.
Number 6 is an even number.
Number 7 is an odd number.
Number 8 is an even number.
Number 9 is an odd number.
Number 10 is an even number.

In [18]:
# Loop for cumulative sum
list_sum = 0

for num in my_list:
    list_sum = list_sum + num
    
print(list_sum)

55

In [19]:
# Loop for accessing string characters
my_string = "Hello, world!"

for letter in my_string:
    print(letter)

H
e
l
l
o
,

w
o
r
l
d
!

In [21]:
# Another case 
for _ in "Hello, world!": # _ highlights the value wasn't intended to be in the code inside the for loop
    print("Cool!")

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [22]:
# Once again, example
tup = (1, 5, 3)

for i in tup:
    print(i)

1
5
3

#### Tuple Unpacking

In [23]:
mylist = [(1, 2), (3, 4), (5, 6), (7, 8)] # This is a very common data structure in Python
mylist

[(1, 2), (3, 4), (5, 6), (7, 8)]

In [24]:
len(mylist)

4

In [25]:
# Print values
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [26]:
# Continuing the example of printing the tuples
for (a, b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [27]:
# Or:
for a, b in mylist:
    print(b)

2
4
6
8

In [28]:
# Once again, example
new_list = [(1, 2, 3), (5, 6, 7), (8, 9, 10)]

for a, b, c in new_list:
    print(b)

2
6
9

#### Dictionaries

In [29]:
dictio = {'k1': 1, 'k2': 2, 'k3': 3}

for key in dictio:
    print(key)

k1
k2
k3

In [30]:
# Example getting the values
for key in dictio:
    print(dictio[key])

1
2
3

In [31]:
# Or:
for item in dictio.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [32]:
# And using tuple unpacking
for key, value in dictio.items():
    print(value)

1
2
3

In [33]:
# Only values
for val in dictio.values():
    print(val)

1
2
3

## 36 - While Loops in Python

These loops continue to run a block of code over and over, as long as some condition remains true.

Syntax:
```Python
while some_boolean_condition:
    # Block of code to execute in loops
```

Syntax combined with `else`:
```Python
while some_boolean_condition:
    # Block of code to execute in loops
else:
    # Block to execute if boolean condition is `False`
```

In [3]:
# Example
x = 0

while x < 5:
    print(f"The current value of x is {x}.")
    # Update x, otherwise infinite loop!
    x += 1
else:
    print("x is not less than 5.")

The current value of x is 0.
The current value of x is 1.
The current value of x is 2.
The current value of x is 3.
The current value of x is 4.
x is not less than 5.

### `break`, `continue`, `pass`

These three keywords are useful when working with loops:

- `break`: breaks out of the currently closest enclosing loop.
- `continue`: goes to the top of the currently closest enclosing loop.
- `pass`: does nothing at all.

In [4]:
# Example using `pass`
x = [1, 2, 3]

for item in x:
    pass

print("End of script.")

End of script.

There, `pass` acted as a placeholder to avoid a syntax error. If there was a comment instead of the `pass` keyword, an error would have arisen.

In [5]:
# Example using `continue`
mystring = "Sammy"

for letter in mystring:
    print(letter)

S
a
m
m
y

In [6]:
# Avoid printing 'a'
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

It found an 'a', so it went to the top of the loop, and started again with the following letter, in this case the first 'm'.

In [8]:
# Example using `break`
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

It found the 'a' and stopped running the loop.

In [10]:
# Example of `break` inside a `while` loop
x = 0

while x < 5:
    if x == 2: # weird condition in this context, but for illustrative purposes
        break
    print(x)
    x += 1

0
1

## 37 - Useful Operators in Python

### `range()`

Related to creating a `list` or values to iterate over in a `for` loop, among other applications.

In [11]:
# Passing one argument
# Assumes starting point is 0, and step is 1
for i in range(5): # all the numbers up to, but not including 5 (similar to slicing)
    print(i)

0
1
2
3
4

In [12]:
# Passing two arguments
# Assumes step is 1
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [15]:
# Passing three arguments
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [16]:
# Another one with three arguments
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [17]:
# Range is a generator (it generates the information instead of sending it to memory)
range(0, 11, 2)

range(0, 11, 2)

In [18]:
# Cast into a list
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

### `enumerate()`

In [19]:
# Context
index_count = 0

for i in 'abcde':
    print("At index {} the letter is {}.".format(index_count, letter))
    index_count += 1

At index 0 the letter is a.
At index 1 the letter is a.
At index 2 the letter is a.
At index 3 the letter is a.
At index 4 the letter is a.

In [20]:
# Simplify code using `enumerate()`
for index, letter in enumerate("abcde"): # (!) notice this includes tuple unpacking
    print("At index {} the letter is {}.".format(index, letter))

At index 0 the letter is a.
At index 1 the letter is b.
At index 2 the letter is c.
At index 3 the letter is d.
At index 4 the letter is e.

### `zip()`

This function creates pairs of values in two different lists, doing it index value by index value. Both lists need to have the same length. If lengths don't match, `zip()` joins up to the point where the shorter list if fully used.

In [21]:
# Example
first_list = [0, 1, 2, 3, 4]
second_list = list('abcde')

for item in zip(first_list, second_list):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [22]:
# It's a generator
zip(first_list, second_list)

`zip()` actually works with more than two lists.

In [23]:
# Cast into a list
list(zip(first_list, second_list))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

### `in`

It checks if an item is in a collection of items.

In [24]:
'x' in list(range(5))

False

In [25]:
'x' in ['x', 'y', 'z']

True

In [26]:
'x' in 'regex'

True

In [27]:
2 in list(range(5))

True

In [28]:
# It checks the keys of a dictionary
'k2' in {'k1': 1,'k2': 2,'k3': 3}

True

In [31]:
diccio = {'k1': 1,'k2': 2,'k3': 3}

print(2 in diccio)
print(2 in diccio.values())
print(2 in diccio.keys())

False
True
False

### `min()`, `max()`

In [33]:
alist = [10, 20, 30, 40, 100]

print(min(alist))
print(max(alist))

10
100

In [34]:
# With tuples?
print(min(tuple(alist)))
print(max(tuple(alist)))

10
100

### `random` library

This is a built-in library.

In [35]:
# Import a function from the library
from random import shuffle

In [36]:
# Create an ordered list
blist = list(range(1, 11))
blist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
# Shuffle the list
shuffle(blist) # it works in place !!!
blist

[6, 7, 2, 10, 1, 8, 3, 9, 4, 5]

In [38]:
# Again, reshuffles
shuffle(blist)
blist

[4, 3, 8, 1, 9, 7, 10, 5, 2, 6]

In [39]:
# Import another function
from random import randint

In [40]:
# Pick a random integer
randint(0, 99) # bottom, top limits

22

### `input()`

In [41]:
input("Enter a number here: ")

Enter a number here: 10

'10'

In [42]:
# Storing the input in a variable
result = input("What's your name? ")

What's your name? Pepe

In [43]:
result

'Pepe'

This `input()` function only stores a `string` in the variable.

In [44]:
user_input = input("Enter a number here: ")

Enter a number here: 1

In [45]:
user_input

'1'

In [46]:
type(user_input)

str

In [47]:
# To have a number, cast the input into one
float(user_input)

1.0

## 38 - List Comprehensions in Python

They are a quick way of creating a `list` in Python, replacing a `for` loop containing an `append()` function inside.

In [48]:
# Create a `list` from a `string`
# This can be simply done by casting, but for illustrative purposes:
mystring = "hello"
mylist= []

for letter in mystring:
    mylist.append(letter)
    
mylist

['h', 'e', 'l', 'l', 'o']

In [49]:
# Simplify into a one-liner with list comprehension
mylistagain = [letter for letter in mystring]
mylistagain

['h', 'e', 'l', 'l', 'o']

In [50]:
# Adding a condition
mylistagain = [letter for letter in mystring if letter != 'e']
mylistagain

['h', 'l', 'l', 'o']

List comprehensions are flattened out for loops.

Kind of generic syntax:

`list` = [`element` for `element` in `iterable`]


`element` must have the same name in both occurences. The first one is the occurrence that is going to be appended to the `list`. The second one is the occurrence grabbing the `element` from the `iterable` to do something with it.

Operations can be applied to the first `element`. Conditions can be applied to the second `element`, writing them at the end of the line.

In [51]:
count_list = [num for num in range(0, 11)]
count_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
# Squares of those numbers in a list
squared_list = [num ** 2 for num in range(0, 11)]
squared_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [54]:
# Pick the even number to operate and append
another_list = [int(0.5 * num ** 2) for num in range(0, 11) if num % 2 == 0]
another_list

[0, 2, 8, 18, 32, 50]

In [57]:
# Example with temperature unit conversion
celsius = [0, 10, 20, 34.5]
farenheit = [((9 / 5) * temp + 32) for temp in celsius]

for c, f in zip(celsius, farenheit):
    print(f"{c} °C\tis equal to {f} °F.")

0 °C	is equal to 32.0 °F.
10 °C	is equal to 50.0 °F.
20 °C	is equal to 68.0 °F.
34.5 °C	is equal to 94.1 °F.

In [58]:
# More complex, kind of unreadable list comprehensions
results = [x if x % 2 == 0 else 'Odd.' for x in range(0, 11)]
results

[0, 'Odd.', 2, 'Odd.', 4, 'Odd.', 6, 'Odd.', 8, 'Odd.', 10]

Prioritize readability and reproducibility. List comprehensions one-liners can become quite cryptic if not kept simple.

#### List comprehensions with nested loops

In [60]:
mylist = []

for x in [2, 4, 6]:
    for y in [1, 10, 100]:
        mylist.append(x * y)

mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [62]:
# The same, but with list comprehensions
mylist = [x * y for x in [2, 4, 6] for y in [1, 10, 100]]
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]